
            html {
                height: 100%;}
            
                body {
                    background-color: #b6a996;
                    background: url('/images/hobarts.jpg') no-repeat center center fixed;
                    background-size: cover;
                    font-family: helvetica, arial, sans-serif;
                    font-size: 100%;
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    min-height: 100%;}
            
            #content {
                background-color: #f5fcfb;
                border: 3px double #31373f;
                color: #31373f;
                display: inline-block;
                padding: 30px 50px;
                margin: 20px auto 50px auto;
                max-width: 580px;
                min-height: 4em;
                overflow: auto;
                text-align: center;}
            
            
                h1, h2 {
                 
                    white-space: nowrap;
                    overflow: hidden;}
            
            h1 {
                width: 278px;
                height: 112px;
                margin: 0px auto 0px auto;
                padding-top: 40px;
                background: url('../images/elderflower-logo.png') no-repeat bottom center;}

                .action {
                    background-color: #f84c53;
                    position: relative;
                    top: 1.3em;
                    right: -2.3em;
                 padding: 0.5em 0.75em;
    float: right;}
                 a {
                        color: #e3bb5a;
                        text-decoration:none;}

                        
 table {
    margin: 20px 100px 0px 100px;}

    tr td:first-child {
        font-weight:bold;
        padding-right: 20px;
    text-align: left;}

    tr td {
      
    text-align: right;}
